#wrapper{
    width: 960px;
    border: 3px solid blue;
    background-color: white;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}


body {
    background-image: url(based.jpg);
}
header {
    background-color: white;
    grid-column: span 12;
}

header p{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    grid-row: 6;
    position: relative;
      left: 500px;
    z-index: 100000;}

header img {
    float: left;
    display: inline;
    width: 100px;
    margin: 25px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 25px;
}


nav {
    grid-column: span 4;
    padding: 0px;
    margin: 20px;
    width: 200px;
    position: absolute;
    z-index: 10000;
    }

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    }

nav ul li {
    display: block;
    }

nav li a {
        display: block;
        background-color:  rgb(16, 86, 190);
        border: 1px solid rgb(1, 27, 70);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin: 5px;
        padding: 1em;
        color: white;
        text-decoration: none;
        transition: background-color 1.0s, width 2.0s, color 2.0s;
        }

nav a:hover {
                background-color: #00ff00;
                color: black;
              }    
main {
    grid-column: span 12;
    background-color: white;
    }
main Img {
        width: 960px;
        text-align: center;
        display: inline;
        margin: 10px, 0px, 10px;
    }

section {
    grid-column: span 12;
    background-color:  rgb(16, 86, 190);
}

H2 {
    color: white;
    margin-left: 25px;
}
section p {
    color: white;
    text-align: justify;
    padding: 15px;
    margin: 5px;
    grid-column: span 4;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

footer {
    grid-column: span 12;
    background-color: aqua;
}
footer p {
    text-align: center;
    color: rgb(0, 0, 0);
}

#slide {
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 24px;
  }

  #fdiv {
    text-align: center;
  }


  #myCarousel .f-carousel__slide {
    text-align: center;
    padding: 10px,0px,0px;
    background:  white;
  }

  #myCarousel img {
    width: 940px;
  }
  
  address{
    display: block;
    text-align: center;
    margin: 3px;
    padding: 1em;
  }